/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
    @import "bootstrap-sprockets";
    @import "bootstrap";

.space {
    margin-bottom: 100px;
}


.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 1000;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px;
    border: solid black 2px;
}

.customnav {
    background: white;
    margin-bottom: 100px;
}

.customnav .navbar-nav li a {
    color: black;
    font-size: 17px;
}

.customnav .navbar-nav li a:hover {
    color: #purple;
}

.customnav .navbar-text {
    color: black;
    font-size: 17px;
}

.login{
    margin-bottom: 50px;
}

.banner {
    font-family: 'Rhodium Libre';
    font-size: 8em;
    text-align: center;
    background: #3498db;


}

.pedal {
    border: solid black 1px;
    padding: 10px;
    width: 200px;

}

.pedal:nth-child(3n+3){
    background-color: #790901;
}
.pedal:nth-child(3n+2){
    background-color: #001D21;
}
.pedal:nth-child(3n+1){
    background-color: #733700;
}
.board {
    background: #3498db;
    margin-bottom: 20px;
    padding: 30px;
}

body {
    background: #95a5a6;
    font-family: 'Work Sans';
}

.knob {
    height: 20px;
    width: 20px;
}

.pedal_details {
    border: solid black 1px;
    padding: 10px;
    background: white;
}

.soundcloud {
    margin-top: 10px;
}

.grid {
    margin: 0 auto;
}

// Nav Bar




